.progress-bar {
  width: 100%;
  background: #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
  height: 24px;
  position: relative;
}
.progress-bar__fill {
  background: linear-gradient(90deg, #6366f1 0%, #06b6d4 100%);
  height: 100%;
  transition: width 0.3s;
}
.progress0 {
  width: 0%;
}
.progress5 {
  width: 5%;
}
.progress10 {
  width: 10%;
}
.progress15 {
  width: 15%;
}
.progress20 {
  width: 20%;
}
.progress25 {
  width: 25%;
}
.progress30 {
  width: 30%;
}
.progress35 {
  width: 35%;
}
.progress40 {
  width: 40%;
}
.progress45 {
  width: 45%;
}
.progress50 {
  width: 50%;
}
.progress55 {
  width: 55%;
}
.progress60 {
  width: 60%;
}
.progress65 {
  width: 65%;
}
.progress70 {
  width: 70%;
}
.progress75 {
  width: 75%;
}
.progress80 {
  width: 80%;
}
.progress85 {
  width: 85%;
}
.progress90 {
  width: 90%;
}
.progress95 {
  width: 95%;
}
.progress100 {
  width: 100%;
}
